body {
  font-family: Arial, sans-serif;
  margin: 0%;
}
.split_nav {
  width: fit-content;
  background-color: transparent;
  height: 80px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.pic > img{
  width: 45px;
  text-align: center;
}
.split_nav > div {
  padding: 30px;
}
.link > a {
  text-decoration: none;
  width: 60px;
  padding: 20px;
  color: white;
  text-align: center;
}
.link > a:hover {
  background-color: darkgrey;
  opacity: 0.5;
  transition-duration: 500ms;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
}
.navbar {
  width: 100%;
  background-color: transparent;
  height: 80px;
  position: sticky;
  top: 0%;
  display: flex;
}
.cart_search {
  width: 70px;
  right: 5%;
  margin: 20px;
  display: flex;
  position: absolute;
  gap: 10px;
}

.split_nav > div:hover {
  cursor: pointer;
}


.sidebar{
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.256);
  backdrop-filter: blur(10px);
  right: 0%;
  top: 0%;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 999;
  box-shadow:-10px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar> a{
  text-decoration: none;
  width: 100%;
  padding: 10%;
  color: black;
  text-align: left;
}
.sidebar> a:hover{
  background-color: rgba(120, 118, 118, 0.2);
}
.sidebar> span{
  margin : 10%;
}

.displayBar {
  display: flex;
}
/* for making our sidebar responsive and adapted to tablette and smartphone */
@media (max-width : 800px){
  .link{
    display: none;
  }
  .cart_search> a{
    display: none;
  }

}
@media (min-width : 800px){
  #menu {
    display: none;
  }
}
@media (max-width : 400px){
  .link{
    display: none;
  }
  .cart_search> a{
    display: none;
  }
  .sidebar{
    width: 100%;
  }
}
.subtitle{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 0%; */
}
.subtitle > h2 {
  font-size: 25px;
  text-align: center;
  font-family: Playwrite IS;
  margin-left: 25%;
}

.subtitle> a{
  text-decoration: none;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 5%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
